/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
  color: #262626;
}

.m_text {
  font-size: 14px;
  font-weight: bold;
}

.s_text {
  font-size: 12px;
}

/* header_section */
#header_section {
  border-bottom: 1px solid #c6c6c8;
}

#header_section .header_inner {
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: #fff;
}

#header_section .header_inner .logo {
  width: 105px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header_section .header_inner .logo img {
  width: 100%;
}

#header_section .header_inner .icon {
  width: 24px;
  display: flex;
  align-items: center;
}

#header_section .header_inner .icons {
  display: flex;
  gap: 15px;
}

#header_section .header_inner .icon img {
  width: 100%;
}

/* story_section */

#story_section {
  border-bottom: 1px solid #c6c6c8;
}

#story_section .story_scroll {
  height: 98px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-left: 10px;
}

#story_section .story_scroll .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  text-align: center;
}

#story_section .story_scroll .user .user_id {
  width: 62px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#story_section .story_scroll .user .user_thumb_img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
  border: 3px solid #c7c7cc;
}

#story_section .story_scroll .user.new .user_thumb_img {
  border: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#story_section .story_scroll .user .user_thumb_img img {
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

/* feed_section */

#feed_section {
  margin-bottom: 60px;
}

#feed_section .contents {
  margin-bottom: 30px;
  border-top: 1px solid #c6c6c8;
}
#feed_section .contents:first-child {
  border: none;
}

#feed_section .contents .feed_user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#feed_section .contents .feed_user_info .user_profile_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

#feed_section .contents .feed_user_info .user_profile_img img {
  width: 100%;
}

#feed_section .contents .feed_user_info .user_container {
  display: flex;
  align-items: center;
}
#feed_section .contents .feed_icon_more {
  width: 14px;
}
#feed_section .contents .feed_icon_more img {
  width: 100%;
}

#feed_section .contents .feed_img img {
  width: 100%;
  display: block;
}

#feed_section .contents .feed_details {
  padding: 14px 14px 0 14px;
}

#feed_section .contents .feed_details .feed_icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#feed_section .contents .feed_details .feed_icons .icon {
  width: 23px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}

#feed_section .contents .feed_details .feed_icons .icon.bookmark {
  width: 20px;
  margin-left: auto;
}
#feed_section .contents .feed_details .feed_icons .icon:first-child {
  margin-left: 0;
}

#feed_section .contents .feed_details .feed_icons .icon img {
  width: 100%;
}

#feed_section .contents .feed_details .feed_likes {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#feed_section .contents .feed_details .feed_likes .likes_profile_img {
  width: 17px;
  margin-right: 6px;
}

#feed_section .contents .feed_details .feed_likes .likes_profile_img img {
  width: 100%;
}

#feed_section .contents .feed_details .feed_text {
  display: flex;
}

#feed_section .contents .feed_details .feed_text .user_name {
  margin-right: 5px;
}

/* bnb_section */

#bnb_section {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  border: 1px solid #c6c6c8;
}

#bnb_section .bnb_inner {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bnb_section .bnb_inner .bnb_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bnb_section .bnb_inner .bnb_icon img {
  width: 24px;
}

#bnb_section .bnb_inner .bnb_icon img.profile-icon {
  width: 23px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
}
